<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {border: 1px solid black; border-collapse: collapse; padding: 5px;}
    </style>
</head>
<body>
<table>
    <caption style="font-size:200%;">1 Cost Stats</caption>
    <tr>
        <th>Name</th>
        <th>AVP</th>
        <th>Top 4 %</th>
        <th>Win %</th>
        <th>Game Count</th>
    </tr>
    {% for item in units.one_cost %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ '%06.4f' % item.avp }}</td>
        <td>{{ '%04.2f' % (item.top4*100) }} %</td>
        <td>{{ '%04.2f' % (item.won*100) }} %</td>
        <td>{{ item.count }}</td>
    </tr>
    {% endfor %}
</table>
<table>
    <caption style="font-size:200%;">2 Cost Stats</caption>
    <tr>
        <th>Name</th>
        <th>AVP</th>
        <th>Top 4 %</th>
        <th>Win %</th>
        <th>Game Count</th>
    </tr>
    {% for item in units.two_cost %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ '%06.4f' % item.avp }}</td>
        <td>{{ '%04.2f' % (item.top4*100) }} %</td>
        <td>{{ '%04.2f' % (item.won*100) }} %</td>
        <td>{{ item.count }}</td>
    </tr>
    {% endfor %}
</table>
<table>
    <caption style="font-size:200%;">3 Cost Stats</caption>
    <tr>
        <th>Name</th>
        <th>AVP</th>
        <th>Top 4 %</th>
        <th>Win %</th>
        <th>Game Count</th>
    </tr>
    {% for item in units.three_cost %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ '%06.4f' % item.avp }}</td>
        <td>{{ '%04.2f' % (item.top4*100) }} %</td>
        <td>{{ '%04.2f' % (item.won*100) }} %</td>
        <td>{{ item.count }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>